  *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }



  .modal{
    background-color: rgba(0,0,0, .8);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
  }

  .modal__content{
   width: 75%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  #modal:target{
   opacity: 1;
   visibility: visible;
  }

  #modal:target .modal__content{
   opacity: 1;
   visibility: visible;
  }

  .modal__close{
    color: #ffffff;
    border-radius: 0.5em;
    padding: 0px 9px 0px 9px;
    font-weight: bold;
    text-decoration: auto;
    background-color: black;
    font-size: 2em;
    position: absolute;
    top: 0.5em;
  }

  .modal__heading{
color: white;
    margin-bottom: 1em;
    border-radius: 0.5em;
    background-color: #8c1200;
    text-align: center;
    margin-left: 64px;
    margin-top: -16px;
    padding: 5px;
  }

  .modal__paragraph{
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
  }

.modal-open{
 display: inline-block;
 color: dodgerblue;
 margin: 2em;
}